Git hub.txt
.vscode
ssh-keygen -t ed25519 -C "YOUR_GITHUB_EMAIL"[D[D[D
ssh-keygen -t ed25519 -C "YOUR_GITHUB_EMAIL"[D[D[D.pub
type $env/raseshcs07-cpu\.ssh\id_ed25519.pub
type $env/raseshcs07-cpu\.ssh\id_ed25519.pub.pub
